*,
::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.aneis, .brincos, .correntes, .pulseiras, .conjuntos {
    margin-top: 100px;
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.container-produto {
    display: flex;
    margin: 15px 5px;
    flex-direction: column;
    width: 155px;
    /* width: calc(32% - (4 * 5px)); */
}

.container-produto h3 {
    font-weight: lighter;
    cursor: pointer;
}
.container-produto p {
    font-weight: bold;
    cursor: pointer;
}
.container-produto img {
    border-radius: 15px;
    cursor: pointer;
}