*,
::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}
header  {
    position: fixed;
    top: 0;
    height: 325px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header img {
    width: 50%;
}
.lixeira {
    cursor: pointer;
}
.passa-regua {
    text-decoration: overline;
}
.finalizar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.finalizar input {
    cursor: pointer;
    width: 50%;
    padding: 10px;

}
menu {
    padding: 5px;
    display: flex;
    margin-bottom: 40px;
    width: 150%;
    justify-content: space-around;
    align-items: center;
}
h1, h4 {
    text-align: center;
}

div {
    margin: 20px 0;
}

li > img {
    width: 10%;
    border-radius: 50%;
}

#carrinho {
    position: relative;
    /* transform: '100%'; */
    display: none;
    /* transition: left 1s linear 1s; */
    border: 1px solid black;
    border-radius: 5px;
}
.quantidade {
    background-color: white;
    position: relative;
    top: 0;
    left: 65%;
    /* border: 1px solid black; */
    border-radius: 50%;
    padding: 2px;
    font-size: 0.4em;
    width: 10px;
}
.lista-carrinho {
    display: flex;
    flex-direction: column;
}

.item-carrinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.total {
    font-weight: bold;
}
menu div {
    display: flex;
    flex-direction: column;
}
select, option {
    cursor: pointer;
}
.carrinho {
    cursor: pointer;
    font-size: 2.5em;
}
.aneis {
    margin-top: 350px;
    text-align: center;
}
.brincos, .correntes, .pulseiras, .conjuntos {
    margin-top: 100px;
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.container-produto {
    display: flex;
    margin: 15px 5px;
    flex-direction: column;
    width: 155px;
    /* width: calc(32% - (4 * 5px)); */
}

.container-produto h3 {
    font-weight: lighter;
    cursor: pointer;
}
.container-produto p {
    font-weight: bold;
    cursor: pointer;
}
.container-produto img {
    border-radius: 15px;
    cursor: pointer;
}

.atirada {
    position: relative;
    top: 0px;
    width: 50px;
    transition: 0.3s;

}
